/* Container Styles */
.container {
    display: flex;
    width: 100vw;
    height: auto;
  }
  
  /* Left and Right Side Panels */
  .left-side, .right-side {
    background-color: var(--card-background);
    padding: 15px;
    box-shadow: var(--box-shadow);
    transition: transform var(--transition);
  }
  
  .left-side {
    width: 70%;
    overflow-y: scroll; /* Enable scrolling */
    height: 100vh; /* Full viewport height */
    padding: 15px;
    background-color: var(--card-background);
  }
  
  .right-side {
    width: 30%;
    padding: 15px;
    background-color: var(--card-background);
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    height: 100vh; /* Full viewport height */
    box-shadow: var(--box-shadow);
  }
  